<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= _.map(breadcrumbs, 'label').reverse().join(' ‹ ') %></title>
		<link rel="stylesheet" href="/styles/bootstrap.css">
		<link rel="stylesheet" href="/styles/main.css">
	</head>
	<body>
		<div class="jumbotron" id="header">
			<div class="container">
				<div>
					<h1><a href="/"><img src="/images/logo-sails.png" id="logo-sails"><img src="/images/logo-blog.png" id="logo-blog"></a></h1>
					<p class="lead"><%- blogSubtitle %></p>
				</div>
				<ol class="breadcrumb" id="breadcrumbs">
					<% breadcrumbs.forEach(function (breadcrumb, i) { %>
					<li><a href="<%= breadcrumb.href %>"><%= breadcrumb.label %></a></li>
					<% }) %>
				</ol>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<%- body %>
			</div>
		</div>

		<div class="container" id="footer">
			<%- blogFooter %>
		</div>

		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script>
		<script src="/js/formatPostDate.js"></script>
	</body>
</html>