<div class="post">
	<h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
	<p class="meta">
		<span data-time="<%= post.createdAt.getTime() %>">"<%= moment(post.createdAt).format('MMMM Do, YYYY, hh:mma') %> UTC</span>
		by <a href="/authors/<%= post.author.slug %>"><%= post.author.displayName %></a>
		<% if (post.topics && post.topics.length) { %>
		in
		<% 	post.topics.forEach(function (topic, i) { %>
		<a href="/topics/<%= topic.slug %>"><%= topic.name %></a><%- i !== post.topics.length - 1 ? ', ' : '' %>
		<% 	}); %>
		<% } %>
	</p>
	<%- post.body %>
</div>