<div class="col-sm-8" id="main-column">
	<div class="posts">
		<% posts.forEach(function (post) { %>
		<%- 	partial('components/post.ejs', { post: post }) %>
		<% }) %>
	</div>

	<% if (numberOfPages > 1) { %>
	<div class="text-center">
		<ul class="pagination">
			<% 	for (var page = 1; page <= numberOfPages; ++page) { %>
			<li<%- page === currentPage ? ' class="active"' : '' %>><a href="/authors/<%= author.id %>/page/<%= page %>"><%= page %></a></li>
			<% 	} %>
		</ul>
	</div>
	<% } %>
</div>

<div class="col-sm-3 col-sm-offset-1">
	<% if (author.bio) { %>
	<h4>About <%= author.displayName %></h4>
	<div class="author-bio"><%- author.bio %></div>
	<% } %>
</div>