<div class="col-sm-8">
	<div class="posts">
		<% posts.forEach(function (post) { %>
		<%- 	partial('components/post.ejs', { post: post }) %>
		<% }) %>
	</div>

	<% if (numberOfPages > 1) { %>
	<div class="text-center">
		<ul class="pagination">
			<% 	for (var page = 1; page <= numberOfPages; ++page) { %>
			<li<%- page === currentPage ? ' class="active"' : '' %>><a href="/page/<%= page %>"><%= page %></a></li>
			<% 	} %>
		</ul>
	</div>
	<% } %>
</div>

<div class="col-sm-3 col-sm-offset-1">
	<h4>Authors</h4>
	<ul class="list-unstyled">
		<% authors.forEach(function (author) { %>
		<li><a href="/authors/<%= author.slug %>"><%= author.displayName %></a></li>
		<% }) %>
	</ul>
</div>