<div class="col-sm-8">
	<%- partial('components/post.ejs', { post: post }) %>
</div>

<div class="col-sm-3 col-sm-offset-1">
	<% if (post.topics && post.topics.length) { %>
	<h4>Post Topics</h4>
	<ul class="list-unstyled">
		<% 	post.topics.forEach(function (topic) { %>
		<li><a href="/topics/<%= topic.slug %>"><%= topic.name %></a></li>
		<% 	}) %>
	</ul>
	<% } %>

	<% if (post.author.posts.length) { %>
	<h4>More by <a href="/authors/<%= post.author.slug %>"><%= post.author.displayName %></a></h4>
	<ul class="list-unstyled">
		<% 	post.author.posts.forEach(function (post) { %>
		<li><a href="/posts/<%= post.slug %>"><%= post.title %></a></li>
		<% 	}) %>
	</ul>
	<% } %>
</div>